# the api key to authenticate with the api
API_KEY=

# the url where the api is hosted. example: "localhost:3000"
API_URL=

# set this to true if running the api on localhost to disable https
LOCALHOST=true