<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970203920402-s9f86krqagtivv1uqkkkn0qnmj3lv9ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970203920402-s9f86krqagtivv1uqkkkn0qnmj3lv9ci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>970203920402-4c08n158numdik2fmo379rghtvtk3hm7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAktHr0eNh9Htiuh5R4I0NFtm9thQE0xqE</string>
	<key>GCM_SENDER_ID</key>
	<string>970203920402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.jordyvanvorselen.ribReviews</string>
	<key>PROJECT_ID</key>
	<string>rib-reviews</string>
	<key>STORAGE_BUCKET</key>
	<string>rib-reviews.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970203920402:ios:64370547b56680b34140cb</string>
	<key>SERVER_CLIENT_ID</key>
	<string>970203920402-ckkm3fa3ku58k56m926k09cmeito57q1.apps.googleusercontent.com</string>
</dict>
</plist>